@@include('../components/_header-page.html', {
    "title": "Test page"
})

@@include('../components/_svg-sprites.html')

<main class="main-page">
    <div class="article">
        <div class="container">
            <h1 class="article-title">
                Test Title
            </h1>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur quibusdam, excepturi eius atque consectetur architecto, commodi quas ad aliquam quisquam doloremque voluptatum? Amet voluptatem ex sapiente beatae autem dolor error!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi ullam, vel officiis nesciunt natus quisquam ipsa modi esse autem laboriosam! Ut ducimus vel necessitatibus deserunt! Vel laudantium molestiae labore magni?
            </p>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos repellat delectus expedita ea blanditiis excepturi mollitia alias in odit porro. Eum cumque hic neque odit laboriosam eligendi possimus obcaecati consequatur?
            </p>

            @@include('../components/ui/_picture.html', {
                "img": "1",
                "pictureClass": "article-media"
            })

            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore, eum impedit voluptas unde cum, fuga vel ratione odit sint iusto magni iure suscipit eos minus id cupiditate quisquam distinctio natus!
            </p>

            <ul class="list-check">
                <li class="list-check-item">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    </p>

                    @@include('../components/ui/_picture.html', {
                        "img": "5",
                        "pictureClass": "list-check-item-holder article-media"
                    })
                </li>

                <li class="list-check-item">
                    <p>
                        Iure, dolorem quae alias tempora asperiores consequuntur, numquam magni quia atque corrupti fugit maiores. Blanditiis repudiandae error similique odit! Nesciunt, debitis nulla!
                    </p>
                </li>
            </ul>

            <a class="btn btn-primary btn-xl btn-block js_utmLink" href="https://www.google.com?query=test">LEARN MORE ABOUT "TEST"</a>
        </div>
    </div>
</main>

@@include('../components/_footer-page.html')
